<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">

	<listeners>
		<listener class-name="utilities.Reporting" />
	</listeners>

	<test name="Test">
		<parameter name="browser" value="firefox" />
		<classes>

			<class name="tests.LoginTest" />
			<class name="tests.TC_LoginDDT_01" />
			<class name="tests.RegisterNewAccountTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
